@model ECommerce.WebApp.Models.ViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
@using (Html.BeginForm("Index", "Default","admin", FormMethod.Get))
{
    @Html.TextBox("searchString")
    <input type="submit" value="Search" />
}
<table id="customers" class="table table-responsive" style="text-align:center">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Stock</th>
        <th>Product Process</th>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Category Process</th>
    </tr>

    @foreach (var item in Model.Products)
    {

        @if (item.StockQuantity == 0)
        {
            <tr class="bg-danger">
                <td>@item.ProductTitle</td>
                <td>@item.ProductDescription</td>
                <td>@item.StockQuantity</td>
                <td>
                    <a class="btn btn-info" href="/admin/Product/Update/@item.ProductId">Update</a>
                    <a class="btn btn-danger" href="/admin/Product/Delete/@item.ProductId">Delete</a>
                </td>
                <td>@item.CategoryId</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    <a class="btn btn-info" href="/admin/Category/UpdateCategory/@item.CategoryId">Update</a>
                    <a class="btn btn-danger" href="/admin/Category/DeleteCategory/@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>@item.ProductTitle</td>
                <td>@item.ProductDescription</td>
                <td>@item.StockQuantity</td>
                <td>
                    <a class="btn btn-info" href="/admin/Product/Update/@item.ProductId">Update</a>
                    <a class="btn btn-danger" href="/admin/Product/Delete/@item.ProductId">Delete</a>
                </td>
                <td>@item.CategoryId</td>
                <td>@item.Category.CategoryName</td>
                <td>
                    <a class="btn btn-info" href="/admin/Category/UpdateCategory/@item.CategoryId">Update</a>
                    <a class="btn btn-danger" href="/admin/Category/DeleteCategory/@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    }
</table>